*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';
}

.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(5, 0, 136, 0.5), rgb(5, 0, 136, 0.5)), url(../images/back.png);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 18px 8%;
    transition: background 1s;
}

nav .logo{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: white;
}

nav .logo img{
    width: 60px;
    margin-right: 10px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 12px;
}

nav ul li a{
    text-decoration: none;
    font-weight: 500;
    color: white;
}

nav:hover {
    background: #fff;
}

nav:hover span{
    color: #333;
}

nav:hover ul li a {
    color: #333;
}

.content{
    margin-top: 7%;
    margin-left: 9%;
    color: #fff;
}

.content h1{
    font-size: 120px;
    line-height: 100px;
    font-weight: 600;
}

.content p{
    max-width: 500px;
    line-height: 28px;
}

.links {
    margin-top: 25px;
}

.links a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    transition: background 1s;
}

.btn {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px 15px;
    margin-right: 20px;
}

.btn1 {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px 15px;
    margin-right: 20px;
}

.slide-left{
    animation-name: slideleft;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    ani
}

@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }

    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

p.slide-left {
    animation-delay: 1s;
}

.links.slide-left {
    animation-delay: 2s;
}

.btn:hover {
    background: #fff;
    color: black;
}

.btn1:hover {
    background: #fff;
    color: black;
}



